.page-box {
    width: 100%;
    height: 100%;
    padding-top: 1.25%;
    margin-top: 1.25%;
}

.form-post {
    text-align: center;
}

@media screen and (min-width: 992px) {
    .page-title {
        font-size: 50px;
    }
}

@media screen and (max-width: 991px) {
    .page-title {
        font-size: 30px;
    }
}