{% extends 'base.html' %}

{% block content %}
    <div id="loader"><i class="fa fa-circle-o-notch fa-spin blue-clr"></i></div>
    <div class="container content">
		<div class="page-title font-weight-medium blue-bg white-text" id="hello-title">Hello, apa kabar?</div>
	    <form method="POST" class="form-post" action="{%url 'mystatus:savestatus' %}">
	        {% csrf_token %}
	        {{ form.as_p }}
	        <button type="submit" id="submit" formmethod="POST" formaction="{%url 'mystatus:savestatus' %}" class="addstatus save btn dblue-bg white-text">Add Status
	        </button>
	    </form>
        <div class="page-box white-bg">
       		{% if status %}
       			<div class="table-responsive table-bordered">
                    <table class="table">
                    	<tbody>
                    		{% for data in status %}
                    			<tr>
    		                        <td>{{ data.status_line }}</td>
    		                        <td>{{ data.date }}</td>
    		                    </tr>	
    	                    {% endfor %}
                    	</tbody>
                    </table>
                </div>
            {% else %}
            	<div class="no-status">Post your first status!</div>
            {% endif %}
        </div>
    </div>
{% endblock %}