#profpic {
	margin-top: 5%;
	margin-bottom: 3%;
}

.info {
	letter-spacing: 0.1em;
}

.logo {
	height: 20%;
}

.contacts {
	margin-top: 3%;
}

.mypanel {
	width: 100%;
	margin-bottom: 0.5%;
}

.answer {
	width: 100%;
	display: none;
}

.subform {
	margin-top: 5%;
}

#rowform {
	margin-bottom: 1%;
}

#success, #fail {
	margin-top: 2%;
}

p label {
	text-align: center !important;
}

input {
	width: 90% !important;
}

.fa-toggle-down {
	display: inline-block !important;
	color: white;
	text-align: center;
	width: 100%;
	height: 100%;
	margin-top: 5%;
	margin-bottom: 2%;
}

.progress {
	width: 85%;
	margin-bottom: 0.5%;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 992px) {
    .fa-toggle-down {
    	font-size: 30px;
    }

    .progress, .progress-bar {
    	height: 40px;
    }

    #profpic {
		height: 35%;
		width: 35%;
	}
}

@media screen and (max-width: 991px) {
    .fa-toggle-down {
    	font-size: 18px;
    }

    .progress, .progress-bar {
    	height: 24px;
    }

    #profpic {
		height: 50%;
		width: 50%;
	}
}