body {
	padding: 0;
	margin: 0;
}

.navbar {
    background-color: #000000;
    padding: 0;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

.page-title {
    margin-top: 2%;
    font-family: Muli;
    margin-bottom: 3%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container {
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    max-width: 100%;
}
.#loader {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fa-circle-o-notch {
    position: absolute;
    top: 45%;
    left: 42%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 150px;
}

.content {
    display: none;
}

.row {
	margin-left: 0;
}

.t, .x {
	font-family: Muli;
}

.blue-bg {
	background-color: #5266A5;
}

.blue-clr {
	color: #5266A5;
}

.purple-bg {
	background-color: #ad42ff;
}

.purple-clr {
	color: #ad42ff;
}

.yellow-clr {
    color: yellow;
}

.dpurple-bg {
	background-color: #641d82;
}

.white-bg {
	background-color: white;
}

.dblue-bg {
	background-color: #2C3970;
}

.white-text {
	color: #FFFFFF;
}

@media screen and (min-width: 992px) {
    .t {
    	font-size: 30px;
    }
    .x {
        font-size: 20px;
    }
}

@media screen and (max-width: 991px) {
    .t {
    	font-size: 18px;
    }
    .x {
        font-size: 12px;
    }
}