{% extends 'base.html' %}

{% block content %}
	<div id="loader"><i class="fa fa-circle-o-notch fa-spin blue-clr"></i></div>
    <div class="container content align-items-center">
    	<div class="top-box blue-bg d-block mx-auto" id="login-box">
			<div class="t white-text text-center">
				LOG-IN HERE
			</div>
		</div>
		<div class="top-box blue-bg d-flex mx-auto align-items-center" id="google-box">
			<div class="inner-box d-flex mx-auto align-items-center">
				<button class="btn btn-primary mx-auto">
					<a id="login-button" href="{% url 'social:begin' 'google-oauth2' %}">
						Log-In With Google
					</a>
					<i class="fa fa-google-plus"></i>
				</button>
			</div>
		</div>
	</div>

{% endblock %}