<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel='stylesheet' type='text/css' href="{% static "css/base.css" %}">
        <link rel='stylesheet' type='text/css' href="{% static "css/status.css" %}">
        <link rel='stylesheet' type='text/css' href="{% static "css/profile.css" %}">
        <link rel='stylesheet' type='text/css' href="{% static "css/mybooks.css" %}">
        <link rel='stylesheet' type='text/css' href="{% static "css/login.css" %}">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static "js/profile.js" %}"></script>
        {% block javascript %}{% endblock %}
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
        	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        		<span class="navbar-toggler-icon"></span>
        	</button>
        	<div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="dropdown"><a class="menu-site dropdown-toggle nav-item t nav-link white-text" data-toggle="dropdown" href="#">Menu</a>
                        <ul class="dropdown-menu">
                            <li><a class="t mav-status" href="\mystatus">My Status</a></li>
                            <li><a class="t nav-me" href="\aboutme">About Me</a></li>
                            <li><a class="t nav-books" href="\mybooks">My Books</a></li>
                            <li><a class="t nav-books" href="\login">Login</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="change dropdown-toggle nav-item t nav-link white-text" data-toggle="dropdown" href="#">Change Theme</a>
                        <ul class="dropdown-menu">
                          <li><a class="t blue-theme">Blue</a></li>
                          <li><a class="t purple-theme">Purple</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>