.top-box {
	width: 40%;
	margin-top: 2%;
    border-radius: 10px;
    align-items: center;
}

#star-counter {
	margin-top: 1%;
	margin-bottom: 1%;
}

.table-responsive {
	margin-top: 2%;
}

#google-button, #login-button {
    color: white !important;
}

.sessionbtn {
    margin-bottom: 2%;
}

tbody tr div:hover {
	background-color: #d6d3ff;
}

@media screen and (min-width: 992px) {
    #star-counter, #number {
    	font-size: 50px;
    }

    .fav {
    	font-size: 40px;
    }
}

@media screen and (max-width: 991px) {
    #star-counter, #number {
    	font-size: 30px;
    }

    .fav {
    	font-size: 24px;
    }
}