{% extends 'base.html' %}

{% block content %}
	<div id="loader"><i class="fa fa-circle-o-notch fa-spin blue-clr"></i></div>
    <div class="container content">
    	<div class="row">
		  	<div class="prof col blue-bg d-flex align-items-center" id="prof">
		  		<div class="profile">
				  	<div class="my-photo">
				  		{% load static %}
		                <img src="{% static "img/me.jpg" %}" class="img-fluid img-thumbnail mx-auto d-block rounded-circle" id="profpic">
		            </div>
		            <div class="t info white-text font-weight-bold text-center">
		            	<div>ALYA ZAHRA</div>
		            </div>
		        </div>
		  	</div>
		  	<div class="col white-bg d-flex align-items-center">
		  		<div class="t contacts font-weight-normals text-center mx-auto">
		  			<p class="font-weight-bold">CONTACTS</p>
	                <p><i class="fa fa-whatsapp"></i> 087863224506</p>
	                <p><i class="fa fa-envelope"></i> alya.zahra71@ui.ac.id</p>
	                <p><i class="fa fa-gitlab"></i> alzahra</p>
	                <p><i class="fa fa-instagram"></i> alyazahra22</p>
	                <p><u class="subscribe"><a href="{% url 'aboutme:subscribePage' %}">Subscribe now!</a></u></p>
	            </div>
		  	</div>
		  	<div class="row mypanel dblue-bg white-text" id="activity" name="panel">
		  		<div class="col-10"><div class="t text-center">Activities</div></div>
		  		<div class="col-2"><div class="fa fa-toggle-down"></div></div>
			</div>
			<div class="row t answer white-bg" id="act-ans">
				<p><i class="fa fa-circle blue-clr"></i> Student of Faculty of Computer Science UI (2017)</p>
				<p><i class="fa fa-circle blue-clr"></i> Member of Academic Division of PMB Fasilkom UI 2018</p>
			</div>
			<div class="row mypanel dblue-bg white-text" id="skill" name="panel">
		  		<div class="col-10"><div class="t text-center">Skills</div></div>
		  		<div class="col-2"><div class="fa fa-toggle-down"></div></div>
			</div>
			<div class="row answer white-bg" id="skill-ans">
				<div class="progress">
    				<div class="progress-bar white-text t blue-bg" style="width:80%;">Adobe Illustrator</div>
  				</div>
  				<div class="progress">
    				<div class="progress-bar white-text t blue-bg" style="width:95%;">Paint Tool SAI</div>
  				</div>
  				<div class="progress">
    				<div class="progress-bar white-text t blue-bg" style="width:70%;">Java</div>
  				</div>
  				<div class="progress">
    				<div class="progress-bar white-text t blue-bg" style="width:70%;">Python</div>
  				</div>
			</div>
			<div class="row mypanel dblue-bg white-text" id="experience" name="panel">
		  		<div class="col-10"><div class="t text-center">Experiences</div></div>
		  		<div class="col-2"><div class="fa fa-toggle-down"></div></div>
			</div>
			<div class="row t answer white-bg" id="exp-ans">
				<p><i class="fa fa-circle blue-clr"></i> Design & Creative in SIWAK-NG 2018</p>
				<p><i class="fa fa-circle blue-clr"></i> Design & Creative in BETIS 2017</p>
			</div>
			<div class="row mypanel dblue-bg white-text" id="achieve" name="panel">
		  		<div class="col-10"><div class="t text-center">Achievements</div></div>
		  		<div class="col-2"><div class="fa fa-toggle-down"></div></div>
			</div>
			<div class="row t answer white-bg" id="ach-ans">
				<p><i class="fa fa-circle blue-clr"></i> Ranked 10th in Province Tryout of National Exam (2014)</p>
			</div>
		</div>
    </div>
{% endblock %}