{% extends 'base.html' %}
{% load static %}
{% block javascript %}<script type="text/javascript" src="{% static "js/subscribe.js" %}"></script>{% endblock %}

{% block content %}
	<div id="loader"><i class="fa fa-circle-o-notch fa-spin blue-clr"></i></div>
    <div class="container content">
    	<div class="page-title font-weight-medium blue-bg white-text">Subscribe to this site now!</div>
    	<form class="subform text-center mx-auto" method="POST" class="form-post" id="subscribeForm">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            	<div class="row" id="rowform">
            		<div class="col-2 t">
            			{{ field.label_tag }}
            		</div>
            		<div class="col-10">
				 		{{ field }}
				 	</div>
				 	{% for error in field.errors %}
				 	<div id="{{ field.name }}_error">
				 		<p>{{ error|escape }}</p>
				 	</div>
				 	{% endfor %}
				</div>
			{% endfor %}
            <button class="t save btn dblue-bg white-text" id="subbutton" disabled="true">Subscribe</button>
        </form>
        <h2 id="success" class="t font-weight-medium text-success text-center" style="display: none;">Your data has been saved.</h3>
  		<h2 id="fail" class="t font-weight-medium text-danger text-center" style="display: none;">Your data is invalid.</h3>
        <div id="subtable">
            <div class="table-responsive table-bordered">
                <table class="table" id="subtab">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Unsubscribe</th>
                        </tr>
                    </thead>
                    <tbody class="text-center" id="sublist">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal fade" id="unsubmodal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLongTitle">Are You Sure You Want to Unsubscribe?</h5>
                    </div>
                    <div class="x modal-body">
                        Confirm your password below:
                        <input class="form-control" placeholder="Your password here" type="password" id="id_confirmpass" value="">
                        <div id="confirmpass_error"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="x btn dblue-bg white-text" id='confirmunsub' value=''>Confirm</button>
                        <button type="button" class="x btn btn-danger white-text" data-dismiss="modal" id="cancelunsub">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="afterUnsub" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="x modal-body">
                        You have been unsubscribed from this site.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}