{% extends 'base.html' %}
{% load static %}
{% block javascript %}<script type="text/javascript" src="{% static "js/mybooks.js" %}"></script>{% endblock %}

{% block content %}
	<div id="loader"><i class="fa fa-circle-o-notch fa-spin blue-clr"></i></div>
    <div class="container content">
    	<div class="top-box blue-bg d-block mx-auto" id="books-box">
			<div class="t white-text text-center">
				My Favorited Books
			</div>
		</div>
		<div class="star text-center">
			<div class="fa fa-star yellow-clr" id="star-counter"></div>
            {% if user.is_authenticated %}
			    <a class="t" id="number"> {{ stars }} </a>
            {% else %}
                <a class="t" id="number"> 0 </a>
            {% endif %}
		</div>
        {% if user.is_authenticated %}
            <p class="t text-center">Hello, {{ user.username }}</p>
            <div class="x align-items-center text-center">
                <button class="btn btn-danger mx-auto sessionbtn"><a id="google-button" href="{% url 'mybooks:logout' %}">Log Out</a></button>
            </div>
        {% else %}
            <div class="x align-items-center text-center">
                <button class="save btn mx-auto sessionbtn"><a id="google-button" href="{% url 'login:index' %}">Log In</a></button>
            </div>
        {% endif %}
        <div class="input-group add-on">
            <input class="form-control" placeholder="Search book category" type="text" id="search-bar" value="">
            <div>
            <button class="btn btn-default searchbtn" type="submit" id="search-btn"><i class="fa fa-search blue-clr"></i></button></div>
        </div>
        <div id="mytable">
    		<div class="table-responsive table-bordered">
                <table class="table" id="tab">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Image</th>
                            <th scope="col">Title</th>
                            <th scope="col">Authors</th>
                            <th scope="col">Publishers</th>
                            <th scope="col">Published Date</th>
                            <th scope="col">Add to Favorites</th>
                        </tr>
                    </thead>
                	<tbody class="text-center" id="booklist">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal fade" id="beforeLogin" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="x modal-body">
                        You need to log-in first.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}